.archey3.cfg
.bash_history
.bash_logout
.cabal
.cache
D*/
.dropbox
.ghc
.fehbg
.local
.matlab
.java
.icons
MEGA
.mozilla
.nv
oldDotfiles
OneDrive
Pictures
purcell
.xorg_nvidia_working
.vim
.viminfo
.cabal.backup
.thunderbird
